<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" ><suite name="Main Test Suite" verbose="1" annotations="JDK" parallel="classes" thread-count="2">
  <test name="Test">
    <classes>
      <class name="com.selenium.grid.GridExampleTest1"/>
      <class name="com.selenium.grid.GridExampleTest2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
